.hero {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 0 auto;

    nav {
      ul {
        gap: 2em;
        font-size: 15px;

        width: 100%;
        justify-content: center;
        margin: 0 auto;
      }
      .proj {
        display: none;
      }
    }
  }

  main {
    h1 {
      font-size: 3.5rem;
    }

    p {
      width: 90%;
    }
  }
}

.bot {
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  gap: 1em;

  a {
    text-align: center;
  }
}

.about {
  main {
    flex-direction: column-reverse;

    .photo {
      width: 100%;
      height: 50dvh;
    }
    .text {
      width: 100%;

      h1 {
        font-size: 3rem;
      }

      table {
        font-size: 12px;
      }
    }
  }
}

.projects {
  flex-direction: column;
  align-items: center;

  .block {
    width: 95%;

    img,
    h2,
    a {
      margin: 0 auto;
    }
  }
}

.contact {
  padding: 0 20px;
  h2 {
    font-size: 1.3rem;
  }
}
